
<div class="follow-btns">
    <a class="twitter-follow-button" href="https://twitter.com/{{ site.twitter_username }}" data-size="middle">@Twitter</a>
    <a class="facebook-follow-button" href="https://facebook.com/{{ site.facebook_username }}" data-size="middle">@Facebook</a>
</div>

<!-- additional script for this page. -->
<script type="text/javascript" src="http://www.google-analytics.com/ga.js"></script>
<script type="text/javascript">

    try {
        var pageTracker = _gat._getTracker("UA-63337925-1");
        pageTracker._trackPageview();
    } 
    catch(err) {

    }

</script>