<div class="unit one-fourth hide-on-mobiles">
  <aside>
    <h4>Recent Releases</h4>
    <ul>
      {% for post in site.posts limit:5 %}
      <li class="{% if page.title == post.title %}current{% endif %}">
        <a href="{{ post.url }}"><span>{{ post.title }}</span></a>
      </li>
      {% endfor %}
    </ul>
    <h4>Categories</h4>
    <ul>
      {% for category in site.categories %}
        <li class="{% if page.categories contains category[0] %}current{% endif %}">
          <a href="/post/{{ category[0] }}">{{ category[0] }}</a>
        </li>
      {% endfor %}
    </ul>
  </aside>
</div>
